= link_to board_path(board) do
  .card
    .card_content
      .card_title
        = board.title
      .card_detail
        -# = image_tag board.user.avatar_image
        -# %div
        -#   %p= board.author_name
        -#   %p= board.display_created_at
