.container
  %h2.all_boards_tag All Boards
  - @boards.each do |board|
    = render 'commons/board', board: board
  = link_to new_board_path do
    .add_new_board
      .add_new_board_content
        .add_new_board_title
          %h2 + Add new board
