@import 'variables';

.sign_form {
  width: 98%;
  margin: 0 auto;
}

.pageTitle {
  margin-bottom: 10px;
  .pageTitle_heading {
    font-weight: bold;
    font-size: 20px;
}
}

input,select {
    // width: 362px;
    height: 40px;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;

    &.email_field {
        top: 190px;
        // left: 26px;
        margin-top: 10px;
        margin-bottom: 50px;
        background-color: $input-bg-color;
    }

    &.password_field {
        top: 295px;
        // left: 26px;
        margin-top: 10px;
        margin-bottom: 400px;
        background-color: $input-bg-color;
    }

    &.password_field_includedConfirm {
      top: 295px;
      // left: 26px;
      margin-top: 10px;
      margin-bottom: 50px;
      background-color: $input-bg-color;
  }

    &.title_field {
      top: 190px;
      left: 26px;
      border: 1px solid #000000;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    &.eyecatch_field {
      margin-top: 5px;
    }

    &.btn-submit {
        top: 889px;
        // left: 30px;
        background-color: #F8BD1C;
        margin-bottom: 30px;
        color: white;
        font-weight: bold;
    }

    &.limit_field {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
  
  label {
    font-size: 16px;

    &.eyecatch_label {
      width: 49px;
      height: 25px;
      top: 157px;
      left: 26px;
      font-family: Avenir;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: left;
      color: #000000;
    }

    &.email_label {
      width: 44px;
      height: 25px;
      top: 161px;
      left: 26px;
      font-family: Avenir;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: left;
      color: #000000;
    }

    &.password_label {
        width: 76px;
        height: 25px;
        top: 263px;
        left: 26px;
        font-family: Avenir;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        color: #000000;
    }

    &.title_label {
      width: 49px;
      height: 25px;
      top: 157px;
      left: 26px;
      font-family: Avenir;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: left;
      color: #000000;
    }

    &.content_label {
      width: 92px;
      height: 25px;
      top: 263px;
      left: 26px;
      font-family: Avenir;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: left;
      color: #000000;
    }

    &.limit_label {
      width: 49px;
      height: 25px;
      font-family: Avenir;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: left;
      color: #000000;
    }
  }
  
  textarea {
    width: 100%;
    margin: 8px 0px;
    padding: 8px 8px;
    min-height: 440px;
    // resize: vertical;
    border: 1px solid #000000;
    border-radius: 10px;

    &.content_field {
      height: 203px;
      top: 296px;
      left: 26px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }